
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>PDF Raporları Sayfası</h2>

<a href="/PDFReport/StaticPDFReport"class="btn btn-outline-primary">Statik PDF Raporu</a>
<br /><br />
<a href="/PDFReport/StaticCustomerReport" class="btn btn-outline-success">Statik Müşteri Raporu</a>