@model TraversalCoreProject.Models.MailRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Mail Gönderme Sayfası</h1>

<form method="post">
    <div class="form-group">
        @Html.Label("Alıcının Mail Adresi")
        <input type="text" asp-for="ReceiverMail" class="form-control" />
        <span asp-validation-for="ReceiverMail" class="text-danger"></span>
        <br />
    </div>
    <div class="form-group">
        @Html.Label("Konu Başlığı")
        <input type="text" asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject" class="text-danger"></span>
        <br />
    </div>
    <div class="form-group">
        @Html.Label("Mesaj İçeriği")
        <textarea cols="30" rows="5" asp-for="Body" class="form-control"></textarea> 
        <span asp-validation-for="Body" class="text-danger"></span>
        <br />
    </div>
    <button class="btn btn-outline-primary">Maili Gönder</button>

</form>